
.select_mate {
  min-width: 300px;
  min-height: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  transition: all 375ms ease-in-out;
  padding-left: 15px;
  padding-right: 15px;
}

select:hover {
  background-color:  #EDEDED;
}

